<!DOCTYPE"HTML"PUBLIC""b//W3C//DTD"HTML"4.01//EN">
<html>
<head>
    <title>EventeX</title>
    <link href='http://fonts.googleapis.com/css?family=Dynalight|Questrial' rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="conteudo">
    
        <header>
            <img src="{{ STATIC_URL }}img/logo.png" />
            <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
        </header>
    
    </div>
</body>
</html>