<!DOCTYPE"HTML"PUBLIC""b//W3C//DTD"HTML"4.01//EN">
<html>
<head>
    <title>EventeX</title>
    <link href='http://fonts.googleapis.com/css?family=Dynalight|Questrial' rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="conteudo">
    
        <header>
            <img src="{{ STATIC_URL }}img/logo.png" />
            <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
        </header>
        
        <div class="principal">
            <p>Você não pode perder esta oportunidade !</p>
            <strong>Abertura das Inscrições em 03/06/2012</strong>
        </div>
        
        <footer>
            <div class="conteudo">
                <p>Para dúvidas e mais informações entre em contato com <a href="mailto:spam.kenji@gmail.com">spam.kenji@gmail.com</a></p>
            </div>
        </footer>
    </div>
</body>
</html>