* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f1ffed;
}

.conteudo {
    margin: 0 auto;
    width: 940px;
}

header > img {
    float: left;
}

header > p {
    font-size: 17px;
    font-weight: 400; 
    float: right;
    line-height: 108px  ;
}

.principal {
    clear: both;
    padding: 15% 0 0 0;
}

.principal p {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    color: #7F19B4;
    letter-spacing: -5px;
    width: 770px;
    text-align: center;
    margin: 0 auto;
}
.principal strong {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 10px 0;
}



footer {
    background: #333;
    color: #FFF;
    font-weight: lighter;
    font-size: 10px;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer p {
    float: left;
}
footer small {
    float: right;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

